// Colors map
$colors: (
  // Base Colors
  White: #fff,
  Black: #222222,
  Transparent: #ffffff00,

  // Accent Colors
  Mint: #62cab1,
  Crimson: #e94848,
  Fox: #d0541d,

  // Aqua Shades;
  Aqua-50: #eaf4fd,
  Aqua-100: #d4e8fb,
  Aqua-200: #aad1f6,
  Aqua-300: #7fbbf2,
  Aqua-400: #55a4ed,
  Aqua: #2a8de9,
  Aqua-600: #2271ba,
  Aqua-700: #19558c,
  Aqua-800: #11385d,
  Aqua-900: #081c2f,

  // Bluewood Shades;
  Bluewood-50: #bec9d6,
  Bluewood-100: #afbac8,
  Bluewood-200: #8f9dac,
  Bluewood-300: #707f91,
  Bluewood-400: #506275,
  Bluewood: #314459,
  Bluewood-600: #27354a,
  Bluewood-700: #1c283c,
  Bluewood-800: #11192e,
  Bluewood-900: #060f20,

  // Porcelain Shades;
  Porcelain-50: #fefefe,
  Porcelain-100: #fcfcfd,
  Porcelain-200: #faf9fc,
  Porcelain-300: #f7f7fa,
  Porcelain-400: #f5f4f9,
  Porcelain: #f2f1f7,
  Porcelain-600: #d1cfde,
  Porcelain-700: #b1adc5,
  Porcelain-800: #908aac,
  Porcelain-900: #706893
);
